body {
    background-image: url("Gemini_Generated_Image_jm2kymjm2kymjm2k.png");
    background-size: cover;
    color: blueviolet;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    align-items: center;
}

h1 {
    padding-top: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
p {
    padding-bottom: 50px;
}
h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}
div {
    margin-top: 33%;
    max-width: 50%;
    margin-left: 29%;
    rotate: -13deg;
    background: white;
}
